.element__title {
    margin: 25px auto 31px 21px;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 29.05px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}